.splash-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color:#502F0F; 
}

.welcome-screen {
    font-size: 32px;
    font-weight: bold;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.logoname img {
    max-width: 300px; 
    height: auto;
}

button {
    margin-top: 20px;
    height: 50px;
    width: 200px;
    background-color:#C5AC94;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.logoname {
    display: flex;
    flex-direction: column;
    align-items: center;
}