.trending-container {
  background-color: #F5F5DC;
  padding: 2rem;
  flex-grow: 1;
  font-family: 'Georgia', serif;
}

.trending-container h2 {
  font-size: 28px;
  margin-bottom: 0.5rem;
}

.trending-container h4 {
  color: #666;
  margin-bottom: 1.5rem;
}

.trend-card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

.trend-left h3 {
  margin: 0;
  font-size: 18px;
}

.trend-title-link {
  text-decoration: none;
  color: #000;
  transition: color 0.2s;
}

.trend-title-link:hover {
  color: #1e90ff;
  text-decoration: underline;
}

.trend-left p {
  margin: 0.25rem 0;
  font-size: 14px;
  color: #666;
}

.trend-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trend-count {
  font-weight: bold;
  color: #444;
}

.trend-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}
.trending-container{
    grid-column: 2/4;
}